# temp files
*~
*.swp
*.iml
*.ipr
*.iws

# IntelliJ Idea files
atlassian-ide-plugin.xml
.idea/
out/

# Eclipse files
.project
.settings
.classpath


# Maven files
target/
gen/

# Gradle files
.gradle
temp/
build/
gradle/
gradle*

/local.properties

#node
node_modules/
npm-debug.log
