<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OpenTrapp</title>
    <link href="lib/css/bootstrap.css" rel="stylesheet">
    <link href="lib/css/bootstrap-theme.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">

    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/sprintf.js"></script>
    <script type="text/javascript" src="lib/lodash.js"></script>
    <script type="text/javascript" src="lib/chart.js"></script>
    <script type="text/javascript" src="lib/bootstrap.js"></script>
    <script type="text/javascript" src="scripts/OpenTrappModule.js"></script>
    <script type="text/javascript" src="scripts/AuthInterceptor.js"></script>
    <script type="text/javascript" src="scripts/EnviromentInterceptor.js"></script>
    <script type="text/javascript" src="scripts/RouterCtrl.js"></script>
    <script type="text/javascript" src="scripts/CurrentEmployee.js"></script>
    <script type="text/javascript" src="scripts/TimeProvider.js"></script>
    <script type="text/javascript" src="scripts/WorklogEntryParser.js"></script>
    <script type="text/javascript" src="scripts/ProjectNames.js"></script>
    <script type="text/javascript" src="scripts/ReportDates.js"></script>
    <script type="text/javascript" src="scripts/SignInCtrl.js"></script>
    <script type="text/javascript" src="scripts/ReportCtrl.js"></script>
    <script type="text/javascript" src="scripts/RegistrationCtrl.js"></script>
    <script type="text/javascript" src="scripts/Workload.js"></script>
    <script type="text/javascript" src="scripts/SettingsCtrl.js"></script>

</head>
<body ng-app="openTrapp">

<!-- Menu -->
    <nav ng-controller="RouterCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">
            <span class="glyphicon glyphicon-time"></span> Open<b>Trapp</b>
          </a>
        </div>
    
          <ul class="nav navbar-nav navbar-right" ng-controller="SignInCtrl" ng-init="init()">
            <li ng-if="authenticated" ng-class="{active: isActive('/registration')}">
                <a href="#/registration">
                    <span class="glyphicon glyphicon-plus"></span>
                    Register time
                </a>
            </li>
            <li ng-if="authenticated" ng-class="{active: isActive('/report')}">
                <a href="#/report">
                    <span class="glyphicon glyphicon-stats"></span>
                    Reports
                </a>
            </li>
            <li ng-if="authenticated" ng-class="{active: isActive('/config')}">
                <a href="#/config">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <!-- <span class="glyphicon glyphicon-cog"></span> -->
                    Settings
                </a>
            </li>
            <li>
                <p class="navbar-text sign-in">
                    <span ng-if="!authenticated && !unauthenticated">
                        <img src="img/ajax-loader-b.gif">
                        <span style="font-size:10px;padding-left:5px; padding-right:20px;">Connecting...</span>
                    </span>
                    <span ng-if="authenticated">
                        <span class="glyphicon glyphicon-user"></span>
                        {{username}}
                    </span>
                    <a ng-if="authenticated" href="{{logoutUrl}}">
                        <span class="glyphicon glyphicon-off"></span>
                        Sign Out
                    </a>
                    <a ng-if="unauthenticated" href="{{loginUrl}}">
                        <span class="glyphicon glyphicon-user"></span>
                        Sign In
                    </a>
                </p>
            </li>
          </ul>
        </div>

    </nav>
    <!-- /Menu -->
    
    <div class="content">
        <div ng-view class="view"></div>
    </div>
</body>
</html>
