<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Open TrApp</title>
<script type="text/javascript" src="lib/angular.js"></script>
<script type="text/javascript" src="home/RegistrationCtrl.js"></script>

</head>
<body ng-app="openTrApp.registration">

    <form ng-controller="RegistrationCtrl">
        <input ng-model="workLogExpression" type="text">
        <input type="submit" ng-click="logWork()">
    </form>

</body>
</html>